.campfire-container {
  width: 400px;
  height: 50px;
  margin: 0 auto;
}

.crafting-container {
  position: relative;
  width: 450px;
  height: 400px;
  margin: 0 auto;
  color: white;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
}

.crafting-tabs {
  margin-left: 25px;
}

.crafting-tabs_tab {
  position: relative;
  top: 2px;
  display: inline-block;
  padding: 10px 25px;
  border: 2px solid brown;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  background-color: #ffb759;
  letter-spacing: .06em;
  z-index: 5;
}

.crafting-body {
  position: relative;
  height: 300px;
  width: 100%;
  padding: 20px 25px;
  border: 2px solid brown;
  border-radius: 8px;
  background-color: #ffb759;
}

.FISHING_POLE {
  background-image: url('components/Camp/assets/fishingPole.png');
  background-repeat: no-repeat;
  background-size: 60px 60px;
}

.craft-item {
  display: inline-block;
  position: relative;
  height: 60px;
  width: 60px;
  margin: 0 10px 10px 0;
  opacity: .5;

  &:hover:after, &:hover:before,
  &:hover .craft-item_cornerer:after,
  &:hover .craft-item_cornerer:before {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    border-color: #242424;
  }

  &:hover {
    cursor: pointer;
    background-size: 63px 63px;
    top: -2px;

    &:after {
      top: -5px;
      left: -5px;
      border-top: 3px solid;
      border-left: 3px solid;
    }

    &:before {
      bottom: -5px;
      right: -5px;
      border-bottom: 3px solid;
      border-right: 3px solid;
    }

    .craft-item_cornerer {
      &:after {
        top: -5px;
        right: -5px;
        border-top: 3px solid;
        border-right: 3px solid;
      }

      &:before {
        bottom: -5px;
        left: -5px;
        border-bottom: 3px solid;
        border-left: 3px solid;
      }
    }

    .craft-item_recipe-cost {
      display: block;
    }
  }

  &.craftable {
    opacity: 1;

    &:hover:after, &:hover:before,
    &:hover .craft-item_cornerer:after,
    &:hover .craft-item_cornerer:before {
      border-color: brown;
    }
  }
}

.craft-item_recipe-cost {
  display: none;
  position: absolute;
  top: 65px;
  list-style-type: none;
  width: 120px;
  border: 2px solid brown;
  background-color: #ffb759;
  border-radius: 8px;
  padding: 5px 8px;
  opacity: 1;
}

.craft-item_recipt-cost_title {
  color: #22242E;
  font-size: 14px;
  text-shadow: none;
  width: 95%;
  padding: 0 0 5px 8px;
  margin: 0 auto 5px;
  border-bottom: 2px solid #22242E;
}

.craft-item_recipt-cost_ingredients {
  margin-bottom: 5px;
}

.craft-item_recipe-cost-list {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.craft-item_recipe-cost-list_item {
  display: inline-block;
}


