.outside-container {
  position: relative;
  display: block;
  width: 470px;
  margin: 0 auto;
}

.outside-ui-buttons {
  position: absolute;
  top: 24px;
  right: 18px;
}

.ui-action-button {
  display: block;
  position: relative;
  top: -2px;
  background-color: brown;
  color: white;
  text-transform: lowercase;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 4px 12px;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
  box-shadow: 0px 2px 1px black;
  min-width: 70px;

  &:hover {
    background-color: #c12a2a;
    color: white;
    text-decoration: none;
  }
  &:active {
    top: 0;
    box-shadow: none;
  }
}

.outside-row {
  display: block;
  height: 36px;
}

.the-dude {
  position: absolute;
  top: 42%;
  right: 44.5%;
  height: 54px;
  width: 54px;
  background-image: url('components/Outside/assets/farmer.png');
  background-repeat: no-repeat;
  background-size: 163px 54px;
}

.the-dude-up {
  background-position: -108px -3px;
}

.the-dude-down {
  background-position: 0px -3px;
}

.the-dude-left {
  background-position: -55px -3px;
}

.the-dude-right {
  background-position: 0px -3px;
}

.map-tile {
  height: 36px;
  width: 36px;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: black;
}

.water {
  background-color: blue;
}

.forest {
  background-color: green;
}

.grass {
  background-color: #aaff00;
}

.mountain {
  background-color: #ababab;
}

.base {
  background-color: brown;
}

.cave {
  background-color: #8c8c8c;
}
